//Mixin center($horizontal, $vertical)
// @usage: @include center(true, true)

@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;

  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

//Mixin flexbox()
// @usage: @include flexbox($placeItems: flex-start);

@mixin flexbox(
  $display: flex,
  $direction: row,
  $placeContent: null,
  $placeItems: null,
  $wrap: nowrap,
  $alignContent: null,
  $justifyContent: null,
  $alignItems: null,
  $justifyItems: null
) {
  display: $display;
  flex-direction: $direction;
  flex-wrap: $wrap;

  @if $placeContent == null {

    @if $alignContent {
      align-content: $alignContent;
    }

    @if $justifyContent {
      justify-content: $justifyContent;
    }

  } @else {
    place-content: $placeContent;
  }

  @if $placeItems == null {

    @if $alignItems {
      align-items: $alignItems;
    }

    @if $justifyItems {
      justify-items: $justifyItems;
    }

  } @else {
    place-items: $placeItems;
  }
}
